<h2>Log in</h2>

<%= form_for(current_user, url: users_two_factor_auth_path, method: :post) do |f| %>
  <div class="form-group">
    <%= f.text_field :otp_token, placeholder: 'Token', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Authenticate" %>
  </div>
<% end %>
