Hello world!

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>

<div ng-controller="TestController as vm">
  <button ng-click="vm.test()">Click here to test AJS</button>
</div>
