<nav class="footer">
  <div class="top">
    <div class="container">
      <div class="col-sm-3 top-item">
        <h3>About Us</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.
        </p>
      </div>
      <div class="col-sm-3 top-item">
        <h3>Quick Links</h3>
        <li class="list-item">Success Stories</li>
        <li class="list-item">Take the First Step</li>
        <li class="list-item">Get Started in Minutes</li>
        <li class="list-item">We Are Also Featured On</li>
        <li class="list-item">Browse Top 10 Freelancer.</li>
      </div>
      <div class="col-sm-3 top-item">
        <h3>Support</h3>
        <li class="list-item">Live Chat</li>
        <li class="list-item">Contact Us</li>
        <li class="list-item">Support HQ</li>
        <li class="list-item">Trust & Safety</li>
        <li class="list-item">Submit A Ticket</li>
      </div>
      <div class="col-sm-3 top-item">
        <h3>About Us</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.
        </p>
      </div>
    </div>
  </div>
  <div class="bottom">
    <%= image_tag "@.png" %> 2018 Exchange Resources
  </div>
</nav>
